**/dist-newstyle/

/result
*.hi
*.o
TAGS

# Ignore environment files (except example template)
/.env
/.env.*
!/.env.template
/.vscode/
/scripts/
/haskbike-test.hp
/haskbike-test.prof
/haskbike-test.eventlog
/haskbike.eventlog
/haskbike.eventlog.html
/notes.org
