/* Global CSS resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.htmx-spinner {
  filter: invert(36%) sepia(40%) saturate(0%) hue-rotate(253deg) brightness(99%) contrast(83%);
  width: 50px;
  height: 50px;
}

/* Style the headers */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
}
.header-large {
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
}

.header-small {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

/* Set up the overall layout */
.entire-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 1em;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 1em;
}
.full-width {
  width: 100%;
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
}

/* Style the graph area */
.graph {
  flex-grow: 1;
  width: 100%;
  height: 60%;
  border: 1px solid black;
  border-radius: 1em;
}

/* Style the sidebar */
.sidebar {
  flex-grow: 3;
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  width: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.sidebar .station-info {
  margin-bottom: 2em;
}

.sidebar form {
  margin-bottom: 2em;
}

/* Apply media queries for smaller viewports */
@media (max-width: 932px) {
  .main-container {
    flex-direction: column;
  }

  .graph {
    width: 100%;
    height: 100%;
    min-height: 400px;
  }

  .sidebar {
    width: 100%;
    border-left: none;
  }
}

/* Landscape mobile */
@media screen and (orientation:landscape) {
  .graph {
    width: 100%;
    height: 100%;
  }

  .sidebar {
    width: 100%;
    border-left: none;
  }
}

/* Fix VegaLite rendering as 0-width */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-container > div {
  padding: 20px 0;
}
.vega-embed {
  width: 100%;
  height: 100%;
}

.charging-infrastructure {
  text-align: left;
}

.station-search-input-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.station-search-input {
  margin: 0 auto; /* Overriden by Pure CSS; must set in style attribute. */
  width: 100%;
}

.station-list-input-column {
  text-align: left;
}
